USE [master]
GO
/****** Object:  Database [dbMasterDetails]    Script Date: 23-03-2024 1.57.08 AM ******/
CREATE DATABASE [dbMasterDetails]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbMasterDetails', FILENAME = N'I:\MVC\MVC_MasterDetails_CRUD\MVC_MasterDetails_CRUD\App_Data\dbMasterDetails.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbMasterDetails_log', FILENAME = N'I:\MVC\MVC_MasterDetails_CRUD\MVC_MasterDetails_CRUD\App_Data\dbMasterDetails_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbMasterDetails].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbMasterDetails]
GO
/****** Object:  Table [dbo].[Applicant]    Script Date: 23-03-2024 1.57.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applicant](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
	[TotalExprience] [int] NOT NULL,
	[PicPath] [varchar](500) NOT NULL,
	[IsAvilable] [bit] NOT NULL,
 CONSTRAINT [PK_Applicant] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applicant_Exprience]    Script Date: 23-03-2024 1.57.08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applicant_Exprience](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](150) NOT NULL,
	[Disignation] [varchar](20) NOT NULL,
	[YearOfExprience] [int] NOT NULL,
	[ApplicantId] [int] NOT NULL,
 CONSTRAINT [PK_Applicant_Exprience] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Applicant_Exprience]  WITH CHECK ADD  CONSTRAINT [FK_Applicant_Exprience_Applicant] FOREIGN KEY([ApplicantId])
REFERENCES [dbo].[Applicant] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Applicant_Exprience] CHECK CONSTRAINT [FK_Applicant_Exprience_Applicant]
GO
USE [master]
GO
